body {
	margin: 0;
	font-size: 20px;
}

html {
	font-family: Consolas;
	background-color: #FFFFFF;
}

.centered {
	margin-left: auto;
	margin-right: auto;
}

#body {
	margin-top: 20px;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	padding-left: 50px;
	padding-right: 50px;
	background-color: lightgrey;
	padding-bottom: 50px;
	box-shadow: black 2px 2px;
}

#header {
	width: 100%;
	background-color: lightgrey;
	height: 50px;
}

#menu {
	margin-left: auto;
	margin-right: auto;
	text-align:center;
	height: 100%;
	padding-top: 11px;
}

#menu > a {
	font-size: 25px;
	margin-left: 10px;
	margin-right: 10px;
}

a {
	text-decoration: none;
}

.ProjectContainer {
	
}


#me {
	padding-top: 20px;
	display: block;
}

.roundedCorners {
	border-radius: 50px;
}

#aboutText {
	padding-top: 20px;
	padding-bottom: 20px;
}

.hidden {
	display: none;
}

.project {
	outline: solid black 1px;
	text-align: center;
	box-shadow: black 2px 2px;
	padding: 5px;
	margin: 10px;
}

button {
	border: none;
	cursor: pointer;
	background-color: transparent;
}

.hide {
	rotate: 90deg;
}

.show {
	rotate: -90deg;
}